**By Kurosh Karimi**

### Pet Sale (stored procedure)

**(This project belongs to IBM Data Analytics Professional Course)**

In this project, we want to create and execute a stored procedure to write/modify data in a table on MySQL using SQL.
However, we do not connect to any database and only show the codes

Task:

1. create a stored procedure routine named UPDATE_SALEPRICE with parameters Animal_ID and Animal_Health

This UPDATE_SALEPRICE routine should contain SQL queries to update the sale price of the animals in the PETSALE table (attached to this directory) depending on their health conditions- BAD or WORSE.

This procedure routine will take animal ID and health conditon as parameters which will be used to update the sale price of animal in the PETSALE table by an amount depending on their health condition. Suppose that:

For animal with ID XX having BAD health condition, the sale price will be reduced further by 25%.
For animal with ID YY having WORSE health condition, the sale price will be reduced further by 50%.
For animal with ID ZZ having other health condition, the sale price won't change.

PETSALE table is shown below.

ID	ANIMAL	QUANTITY	SALEPRICE	SALEDATE
1	Cat	9	450.09	2018-05-29
2	Dog	3	666.66	2018-06-01
3	Dog	1	100	2018-06-04
4	Parrot	2	50	2018-06-04
5	Dog	1	75.75	2018-06-10
6	Hamster	6	60.6	2018-06-11
7	Cat	1	44.44	2018-06-11
8	Goldfish	24	48.48	2018-06-14
9	Dog	2	222.22	2018-06-15

2. UPDATE_SALEPRICE routine- update the sale price of animal with ID 1 having BAD health condition in the PETSALE table.

3. Drop the stored procedure routine UPDATE_SALEPRICE, and call it to make sure it is dorpped.

**Answer 1:**

In [ ]:
DELIMITER @
CREATE PROCEDURE UPDATE_SALEPRICE (IN Animal_ID INTEGER, IN Animal_Health VARCHAR(5))
BEGIN
    IF Animal_Health = 'BAD' THEN
        UPDATE PETSALE
        SET SALEPRICE = SALEPRICE - (SALEPRICE * 0.25)
        WHERE ID = Animal_ID;
    ELSEIF Animal_Health = 'WORSE' THEN
        UPDATE PETSALE
        SET SALEPRICE = SALEPRICE - (SALEPRICE * 0.5)
        WHERE ID = Animal_ID;
    ELSE
        UPDATE PETSALE
        SET SALEPRICE = SALEPRICE
        WHERE ID = Animal_ID;
    END IF;
END @

DELIMITER ;

**Answer 2:**

 CALL UPDATE_SALEPRICE(1, 'BAD');

**Answer 3:**

In [ ]:
DROP PROCEDURE UPDATE_SALEPRICE;
CALL UPDATE_SALEPRICE;