**By Kurosh Karimi**

We have a csv file with information about filming locations of movies shot in San Francisco starting from 1924. 
The data used in this task comes from the following dataset source: https://data.sfgov.org/Culture-and-Recreation/Film-Locations-in-San-Francisco/yitu-d5am/about_data. the data set is attached to this directory as "Film_Locations_in_San_Francisco_20240808.csv".
We have columns of title, location, fun fact, name of the director, writer, actor, and studio for most of these films. First, connect to SQLite database and load the csv file into it and then run the following queries:

**Task**

1) Retrieve the number of rows having a release year older than 1950
2) Retrieve the number of distributors distinctly who distributed films acted by Clint Eastwood as 1st actor.
3) Retrieve first 10 film names distinctly released in 2015

In [1]:
# !pip install ipython-sql sqlalchemy pandas

In [2]:
import pandas as pd
import csv, sqlite3
%load_ext sql

In [3]:
df = pd.read_csv('Film_Locations_in_San_Francisco_20240808.csv')
df.columns

Index(['Title', 'Release Year', 'Locations', 'Fun Facts', 'Production Company',
       'Distributor', 'Director', 'Writer', 'Actor 1', 'Actor 2', 'Actor 3',
       'SF Find Neighborhoods', 'Analysis Neighborhoods',
       'Current Supervisor Districts'],
      dtype='object')

In [4]:
renamed_df = df.rename(columns = {'Release Year':'Release_Year', 'Fun Facts': 'Fun_Facts', 'Production Company': 'Production_Company',
       'Actor 1': 'Actor_1', 'Actor 2': 'Actor_2', 'Actor 3': 'Actor_3',
       'SF Find Neighborhoods': 'SF_Find_Neighborhoods', 'Analysis Neighborhoods': 'Analysis_Neighborhoods',
       'Current Supervisor Districts': 'Current_Supervisor_Districts'})

In [5]:
# Create a connection to the SQLite database
con = sqlite3.connect('SQLITE_DATABASE.db')

In [6]:
%%sql 
sqlite:///SQLITE_DATABASE.db
DROP TABLE IF EXISTS movie;

Done.

[]

In [7]:
# Insert the DataFrame into the database. This will automatically create the table.
renamed_df.to_sql('movies', con, if_exists='replace', index=False, method='multi')
con.close()

In [8]:
%%sql

SELECT * FROM movies LIMIT 5;

 * sqlite:///SQLITE_DATABASE.db
Done.

[('Experiment in Terror', 1962, "The Sea Captain's Chest (Fisherman's Wharf)", None, 'Columbia Pictures Corporation', 'Columbia Pictures', 'Blake Edwards', 'The Gordons', 'Glenn Ford', 'Lee Remick', 'Stefanie Powers', 99.0, 23.0, 3.0),
 ('Experiment in Terror', 1962, '100 St. Germain Avenue', None, 'Columbia Pictures Corporation', 'Columbia Pictures', 'Blake Edwards', 'The Gordons', 'Glenn Ford', 'Lee Remick', 'Stefanie Powers', 47.0, 38.0, 8.0),
 ('Chan is Missing', 1982, 'Li Po (916 Grant Avenue at Washington, Chinatown)', None, 'New Yorker Films', 'New Yorker Films', 'Wayne Wang', 'Wayne Wang', 'Wood Moy', 'Marc Hayashi', 'Lauren Chew', 104.0, 6.0, 3.0),
 ('A View to a Kill', 1985, "Taylor and Jefferson Streets (Fisherman's Wharf)", None, 'Metro-Goldwyn Mayer', 'MGM/UA Entertainment Company', 'John Glen', 'Richard Maibaum', 'Roger Moore', 'Christopher Walken', 'Tanya Roberts', 99.0, 23.0, 3.0),
 ('The Californians', 2005, None, None, 'Parker Film Company', 'Fabrication Films', 'Jonathan Parker', 'Jonathan Parker & Catherine DiNapoli', 'Noah Wyle', None, None, 21.0, 36.0, 10.0)]

1. Retrieve the number of rows having a release year older than 1950

In [9]:
%sql  SELECT COUNT(*) FROM movies WHERE Release_Year<1950;

 * sqlite:///SQLITE_DATABASE.db
Done.

[(31,)]

2. Retrieve the number of distributors distinctly who distributed films acted by Clint Eastwood as 1st actor.

In [10]:
%sql  SELECT COUNT(DISTINCT Distributor) FROM movies WHERE Actor_1 = 'Clint Eastwood'

 * sqlite:///SQLITE_DATABASE.db
Done.

[(3,)]

3. Retrieve first 10 film names distinctly released in 2015.

In [11]:
%sql  SELECT DISTINCT Title FROM movies WHERE Release_Year=2015 LIMIT 10;

 * sqlite:///SQLITE_DATABASE.db
Done.

[('The Diary of a Teenage Girl',),
 ('Quitters',),
 ('Murder in the First, Season 2',),
 ('Looking Season 2 ep 202',),
 ('Sense8',),
 ('Terminator - Genisys',),
 ('Ant-Man',),
 ('San Andreas',),
 ('Looking Season 2 ep 209',),
 ('Summertime',)]